@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0f172a] text-slate-100 font-sans antialiased m-0 p-0;
  }
}

.react-flow__node {
  @apply rounded-xl border-none shadow-xl;
}

.react-flow__edge-path {
  stroke: rgba(255, 255, 255, 0.4);
  stroke-width: 2;
}

.react-flow__edge.animated .react-flow__edge-path {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
  stroke: #3b82f6;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
